body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ffdde1, #ee9ca7, #a1c4fd, #c2e9fb);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    background:linear-gradient(135deg, rgba(102, 50, 109, 0.293), rgba(61, 110, 148, 0.337), rgba(96, 106, 58, 0.238));
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
    max-width:600px;
    backdrop-filter: blur(20px);
}

h1 {
    color:#540863;
    margin-bottom: 30px;
    font-size: 2rem;
}

#resultado {
    font-size: 1.5rem;
    font-weight: 600;
    color: whitesmoke;
    opacity: 0;
    animation: fadeBounce 2s forwards;
}

@keyframes fadeBounce {
    0% { opacity: 0; transform: translateY(20px); }
    50% { opacity: 1; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 20px;
        border-radius: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    #resultado {
        font-size: 1.2rem;
    }
}
